/*==== Media Queries ====*/
@import './assets/mixin/breakpoints';

/*========== Loading Fonts ==========*/
@font-face {
    font-family: 'BioSans';
    src: url('../webfonts/biosans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('../webfonts/biosans-semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'BioSans';
    src: url('../webfonts/biosans-bold.woff2') format('woff2');
    font-weight: 700;
}

/*==== SASS Selectors ====*/
%reset {
    all: unset;
    list-style: none;
    /*==== if (All: unset) not Supported ====*/
    @supports not (all: unset) {
        padding:0;
        margin:0;
    }
}

%inline-block {
    display: inline-block;
    vertical-align: middle;
}

%select-theme {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-repeat:no-repeat;
    background-image: url('../img/select.svg');
    background-size: 9px;
    background-position: var(--direction-end) 10px center;
}

/*==== Colors Options ====*/
:root {
    //==== Font Families ====//
    --primary-font: 'BioSans';
    --secondary-font: 'BioSans';

    /*==== Body Background ====*/
    --body-bg : #F1F1F1;

    /*==== Primary Color ====*/
    --primary-color   : #4166d6;
    --primary-hover   : #2e4dc9;
    --primary-reverse : #FFF;

    /*==== Secondary Color ====*/
    --secondary-color   : #dd9a35;
    --secondary-hover   : #e99415;
    --secondary-reverse : #1c1c1c;

    //=== Assets text colors ====//
    --links-color   :#4166d6;

    /*==== Typography Colors ====*/
    --headlines-color  : #1c1c1c;
    --typography-color : #555;
    --light-reverse    : #000;
    --dark-reverse     : #FFF;
}

/*==== Page Options ====*/
html {line-height: var(--line-height);}

/*==== Header ====*/
.main-header {
    /*==== Component Options ====*/
    border-bottom: 1px solid #F1F1F1;
    min-height: 60px;
    padding: 0 30px;
    @include small(false) {padding: 0 15px};
    /*==== Select ====*/
    select {
        @extend %inline-block;
        @extend %select-theme;
        height: 32px;
        background-color: #fcfcfc;
        border: 1px solid rgba(#000, 0.1);
        margin: 0 10px;
        border-radius: 5px;
        width: 70px;
        padding: 0 8px;
        font-size: 13px;
    }
    /*==== Action Buttons ====*/
    .icon-btn {
        @extend %inline-block;
        color: #D9DDE1;
        font-size: 25px;
    }
}

/*==== Navigator ====*/
.navigator-menu {
    max-width: 225px;
    padding: 30px 15px;
    /*==== Submenus ====*/
    ul {
        @extend %reset;
        display: block;
        padding: 0 10px;
        line-height: 28px;
        font-size: 15px;
        color: var(--gray-color);
        a { color: inherit; }
        li {margin-bottom: 5px;}

        /*==== Current Item ====*/
        .phenix-active > a {color: var(--primary-color);}
    }
}

/*==== Page Secitons ====*/
.on-page-menu {
    max-width: 190px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    &[class*="col-"] { padding: 0; }
    /*==== Title ====*/
    h3 {
        font-weight: var(--medium-weight);
        font-size: 1rem;
        line-height: 1;
    }
    /*==== Submenus ====*/
    ul {
        @extend %reset;
        padding-left: 10px;
        font-size: 1rem;
        color: var(--gray-color);
        /*==== Links ====*/
        a {color: inherit;}
        /*==== Current Item ====*/
        .phenix-active > a {color: var(--dark-color);}
    }
}

/*==== Content Side ====*/
.content-side {
    border-right: 1px solid rgba(#000, 0.1);
    border-left: 1px solid rgba(#000, 0.1);
    //====> Space Fix <====//
    &.col-12 {
        padding-right: 30px;
        padding-left: 30px;
    }
    /*==== Typography ====*/
    h2 {margin-bottom: 15px;}
    h3 {margin-bottom: 10px;}
}

/*==== RTL ====*/
body.rtl {
    /*==== Page Secitons ====*/
    .on-page-menu {
        border-right: 1px solid rgba(#000, 0.1);
        border-left: 0 none;
    }
}

