/*======== Shaking Animations ========*/
@-webkit-keyframes shake {
    from,to {
        transform: translate3d(0, 0, 0);
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,40%,60%,80% {
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,to {
        transform: translate3d(0, 0, 0);
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,40%,60%,80% {
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes shakeVertical {
    0%,50%,100% {
        transform: translateY(0);
    }
    25%,75% {
        transform: translateY(-10px);
    }
}

@keyframes shakeVertical {
    0%,50%,100% {
        transform: translateY(0);
    }
    25%,75% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes shakeHorizontal {
    0%,50%,100% {
        transform: translateX(0);
    }
    25%,75% {
        transform: translateX(-10px);
    }
}

@keyframes shakeHorizontal {
    0%,50%,100% {
        transform: translateX(0);
    }
    25%,75% {
        transform: translateX(-10px);
    }
}