/**======> Referance By Comment <======
 * ===> 01 - Containers
 * ===> 02 - Rows and Flexbox
 * ===> 03 - Masonry Grid
 * ===> 04 - Masonry Columns
*/

/*==== Layout Options ====*/
:root {
    --gutter-size  : 1rem; //===> Spacing Size Between Columns
}

/*==== Containers ====*/
%container{
    margin-#{$direction-start}: auto;
    margin-#{$direction-end}: auto;
    position: relative;
}

.container {
    @extend %container;
    padding-#{$direction-start}: calc(--gutter-size / 2);
    padding-#{$direction-end}: calc(--gutter-size / 2);
    max-width: 1200px;
}

.container-fluid {
    @extend %container;
    padding-#{$direction-start}: calc(--gutter-size / 2);
    padding-#{$direction-end}: calc(--gutter-size / 2);
    width:100%;
}

.container-xl {
    @extend %container;
    padding-#{$direction-start}: var(--gutter-size);
    padding-#{$direction-end}: var(--gutter-size);
    max-width: 1400px;
}

/*==== Rows and Flexbox ====*/
.flexbox, .flex-box, .row {
    @extend %flexbox;
    &.container{@extend %flexbox;}
}

.row {gap: var(--gutter-size);}

/*======== Masonry Grid ========*/
[class*="masonry-"] {
    word-spacing: -5px;
    -moz-column-gap: var(--gutter-size);
         column-gap: var(--gutter-size );
    /*======== Masonry Columns ========*/
    > .column, > [class*="col-"] {
        display: inline-block;
        word-spacing: normal;
        width:100%;
    }
}

/*==== Responsive Columns ====*/
@import 'grid-columns';

/*==== Assets and Featuresa ====*/
@import 'grid-utilities';
