/**======> Referance By Comment <======
 * ===> 01 - Borders Style
 * ===> 02 - Borders Size
 * ===> 03 - Dividers 
 * ===> 04 - Radius 
*/

/*==== Borders Style ====*/
.border-solid {border-style: solid;}
.border-dashed {border-style: dashed;}
.border-dotted {border-style: dotted;}

/*==== Borders Size ====*/
.border-1 {border-width: 1px;}
.border-2 {border-width: 2px;}
.border-3 {border-width: 3px;}
.border-4 {border-width: 4px;}
.border-5 {border-width: 5px;}
.border-6 {border-width: 6px;}

/*==== Dividers ====*/
.divider-b, .divider-y {border-bottom: 1px solid rgba(#000, 0.1);}
.divider-t, .divider-y {border-top: 1px solid rgba(#000, 0.1);}
.divider-s, .divider-x {border-#{$direction-start}: 1px solid rgba(#000, 0.1);}
.divider-e, .divider-x {border-#{$direction-end}: 1px solid rgba(#000, 0.1);}

/*==== Radius Utilties ====*/
.radius-sm, .radius-md, .radius-lg, .radius-xl, .radius-xxl, .radius-none, .radius-circle, .radius-height {
    --radius : 0;
    border-radius: var(--radius);
}

/*==== Radius Sizes ====*/
.radius-sm     {--radius: 4px;}
.radius-md     {--radius: 6px;}
.radius-lg     {--radius: 8px;}
.radius-xl     {--radius: 10px;}
.radius-xxl    {--radius: 15px;}
.radius-circle {--radius: 50%;}
.radius-height {--radius: var(--height);}

/*==== Radius Position ====*/
.radius-top     {border-radius: var(--radius) var(--radius) 0 0;}
.radius-bottom  {border-radius: 0 0 var(--radius) var(--radius);}

.radius-start {
    @if ($direction == 'ltr') {border-radius: var(--radius) 0 0 var(--radius);} 
    @else {border-radius: 0 var(--radius) var(--radius) 0;} 
}

.radius-end {
    @if ($direction == 'ltr') {border-radius: 0 var(--radius) var(--radius) 0;} 
    @else {border-radius: var(--radius) 0 0 var(--radius);} 
}
