/**======> Referance By Comment <======
 * ===> 01 - Hidden Overflow
 * ===> 02 - Scrollable Overflow
 * ===> 03 - Float Elements
 * ===> 04 - Overlay Layer
 * ===> 05 - View-Port Status [JS Assets]
 * ===> 06 - Dynamic Backgrounds [JS Assets]
 * ===> 07 - Sticky Elements [JS Assets]
 * ===> 08 - Phenix Media
 * ===> 09 - Aspect Ratio
 * ===> 10 - Lazy Loader
 * ===> 11 - 
 * ===> 12 - 
 * ===> 13 - 
 * ===> 14 - Directions
 * ===> 15 - View-Port Detector [JS Assets]
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== Borders Style ====*/
.border-solid {border-style: solid;}
.border-dashed {border-style: dashed;}
.border-dotted {border-style: dotted;}

/*==== Borders Size ====*/
.border-1 {border-width: 1px;}
.border-2 {border-width: 2px;}
.border-3 {border-width: 3px;}
.border-4 {border-width: 4px;}
.border-5 {border-width: 5px;}
.border-6 {border-width: 6px;}

/*==== Dividers ====*/
.divider-b, .divider-y {border-bottom: 1px solid rgba(#000, 0.1);}
.divider-t, .divider-u {border-top: 1px solid rgba(#000, 0.1);}
.divider-s, .divider-x {border-#{$direction-start}: 1px solid rgba(#000, 0.1);}
.divider-e, .divider-x {border-#{$direction-end}: 1px solid rgba(#000, 0.1);}

/*==== Radius ====*/
.border-r-sm   {border-radius: 4px;}
.border-r-md   {border-radius: 6px;}
.border-r-lg   {border-radius: 8px;}
.border-r-xl   {border-radius: 10px;}
.border-r-xxl  {border-radius: 15px;}
.border-r-none {border-radius: 0;}
.border-r-circle {border-radius: 50%;}
