/*==== Forced Directions ====*/
.ltr { direction: ltr; }
.rtl { direction: rtl; }
 
/*==== Colors/Backgrounds ====*/
.color-inherit {
    color: inherit;
}

.color-transparent {
    color: transparent;
}

.background-inherit {
    background-color: inherit;
}

.background-transparent {
    background-color: transparent;
}

