/**======> Referance By Comment <======
 * ===> 01 - Custom Resets
 * ===> 02 - Hidden Overflow
 * ===> 03 - Scrollable Overflow
 * ===> 04 - Float Elements
 * ===> 05 - Overlay
 * ===> 05 - View-Port Status [JS Assets]
 * ===> 06 - Dynamic Backgrounds [JS Assets]
 * ===> 07 - Sticky Elements [JS Assets]
 * ===> 08 - Phenix Media
 * ===> 09 - Aspect Ratio
 * ===> 10 - Lazy Loader
 * ===> 11 - 
 * ===> 12 - 
 * ===> 13 - 
 * ===> 14 - 
 * ===> 15 - View-Port Detector [JS Assets]
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== Responsive REM Base ====*/
:root {
    --current-rem : var(--rem-xs);
    /*==== Small Screens ====*/
    @include small() {--current-rem : var(--rem-sm)}
    /*==== Medium Screens ====*/
    @include medium() {--current-rem : var(--rem-md)}
    /*==== Large Screens ====*/
    @include large() {--current-rem : var(--rem-lg)}
    /*==== xLarge Screens ====*/
    @include xlarge() {--current-rem : var(--rem-xl)}
}

html {
    font-size: var(--current-rem);
    line-height: var(--line-height);
}

/*==== Custom Resets ====*/
body {
    margin: 0;
    padding: 0;
    position: relative;
    direction: $direction;
    background: var(--body-bg);
    font-family: var(--primary-font);
}

iframe {
    max-width: 100%;
    border: 0 none;
}

.reset-block, .reset { @extend %reset-space; }
.reset-list { @extend %reset-list; }

/*==== Hidden Overflow ====*/
.overflow-hidden   { overflow:   hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-x-hidden { overflow-x: hidden; }

/*==== Scrollable Overflow ====*/
.overflow-auto   { overflow:   auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-x-auto { overflow-x: auto; }

/*======== Float Elements ========*/
.float-start { float: $direction-start; }
.float-end   { float: $direction-end; }
.clear-after::after,.clear-fix { @extend %clear-after,:after; }

/*==== Overlay ====*/
.overlay-dark {
    @extend %overlay;
    &::before {background-color: #000;}
}

.overlay-light {
    @extend %overlay;
    &::before {background-color: #FFF;}
}

/*==== View-Port Status ====*/
.view-status {
    visibility: hidden;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    &.view-active { visibility: visible; }
}

/*==== Sticky Elements ====*/
[data-sticky="inner"].is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

[data-sticky="absolute"].is-sticky {
    position: fixed;
    top:0;
}

/*==== Phenix Media ====*/
.px-media {
    /*==== ....====*/
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    /*==== elements ====*/
    video, iframe, .px-media-img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: inherit;
        -o-object-fit: cover;
           object-fit: cover;
    }

    /*==== Custom Mode ====*/
    .px-media-element {
        top: 50%;
        left: 50%;
        position: absolute;
        @extend %position-center;
    }

    /*==== image type ====*/
    .px-media-img {opacity: 0;}
}

/*==== Aspect Ratio ====*/
[class*="ratio"] {
    --ratio-size : initial;
    padding-bottom: var(--ratio-size);
}

.ratio {
    --ratio-size : 60%;
    /*==== Square 1x1 ====*/
    &-1x1  {--ratio-size: 100%;}
    /*==== FHD 16x9 ====*/
    &-16x9 {--ratio-size: 56.3%;}
    /*==== Landscape 21x9 ====*/
    &-21x9 {--ratio-size: 42.9%;}
    /*==== Classic 4x3 ====*/
    &-4x3 {--ratio-size: 75%;}
    &-3x4 {--ratio-size: 125%;}
    /*==== Wide 3x1 ====*/
    &-3x1 {--ratio-size: 55%;}
}

/*==== Lazy Loader ====*/
.px-loader {
    -o-object-fit: contain;
       object-fit: contain;
    background-size: auto 100%;
    background-color: #F1F2F3;
}

/*==== Assets ====*/
.radius-g  {border-radius: 4px;}
.radius-gl {border-radius: 8px;}
.tx-icon::before {margin-#{$direction-end}: 7px;}
.flow-nowrap {flex-wrap: nowrap;}
.divider-b, .divider-y {border-bottom: 1px solid rgba(#000, 0.1);}
.divider-y, .divider-t {border-top: 1px solid rgba(#000, 0.1);}
.no-radius    {border-radius: 0;}
.fluid-height {min-height: 100%;}
.alpha-border {border: 1px solid rgba(#000, 0.1);}
.alpha-05-bg  {background-color: rgba(#000, 0.05);}
.alpha-10-bg  {background-color: rgba(#000, 0.1);}

/*==== Assets ====*/
.postion-ab  {position: absolute;}
.postion-rv  {position: relative;}

/*==== Buttons Options ====*/
.btn {
    --f-size : #{REM(15)};
    --f-size-xs : #{REM(13)};
    --f-size-sm : #{REM(14)};
    --f-size-lg : #{REM(17)};
    --f-weight : var(--medium-weight);
}

/*==== Modals Assets ====*/
.px-modal {
    /*==== Close ====*/
    .close-modal {
        position: absolute;
        top: -4px;
        #{$direction-end}: -4px;
        font-size: 14px;
        &.outline {
            background-color: inherit;
            color: var(--danger-color);
        }
    }
}

/*==== Forms Assets ====*/
.form-ui {
    &.none-border {
        /*==== Forms Compnents ====*/
        --forms-border : 0 none;
        --forms-shadow : unset;
    }

    &.gray-form {
        /*==== Forms Compnents ====*/
        --forms-bg     : #F5F5F5;
        &:not(.none-border) {--forms-border : 1px solid #f1f1f1;}
    }

    &.dark-form {
        /*==== Forms Compnents ====*/
        --forms-bg     : var(--dark-color);
        --forms-color  : #FFFF;
        --forms-border : 0 none;
        --forms-shadow : inset 3px 3px 5px rgba(#000, 0.1), inset -3px -3px 5px rgba(#c2c2c2, 0.10);
        .control-icon::before {color: var(--primary-color);}
    }
    
    &.gpy-none {--forms-gutter : 0;}
    
    &.small-spaces {
        --forms-gutter : 15px;
        textarea {height: REM(80);}
    }
}

/*==== Select Theme ====*/
.form-ui select, select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
    background-size: 10px;
    background-repeat: no-repeat;
    background-image: url('../img/select.svg');
    background-position: $direction-end calc(var(--forms-padding) - 3px) center;
}

/*==== Viewport Animations ====*/
.view-status {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
