/**======> Referance By Comment <======
 * ===> 01 - Custom Resets
 * ===> 02 - Hidden Overflow
 * ===> 03 - Scrollable Overflow
 * ===> 04 - Float Elements
 * ===> 05 - Overlay
 * ===> 05 - View-Port Status [JS Assets]
 * ===> 06 - Dynamic Backgrounds [JS Assets]
 * ===> 07 - Sticky Elements [JS Assets]
 * ===> 08 - 
 * ===> 09 - 
 * ===> 10 - 
 * ===> 11 - View-Port Detector [JS Assets]
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== Responsive REM Base ====*/
:root {
    --current-rem : var(--rem-xs);
    /*==== Small Screens ====*/
    @include small() {--current-rem : var(--rem-sm)}
    /*==== Medium Screens ====*/
    @include medium() {--current-rem : var(--rem-md)}
    /*==== Large Screens ====*/
    @include large() {--current-rem : var(--rem-lg)}
    /*==== xLarge Screens ====*/
    @include xlarge() {--current-rem : var(--rem-xl)}
}

html {
    font-size: var(--current-rem);
    line-height: var(--line-height);
}

/*==== Custom Resets ====*/
body {
    margin: 0;
    padding: 0;
    position: relative;
    direction: $direction;
    background: var(--body-bg);
    font-family: var(--primary-font);
}

iframe {
    max-width: 100%;
    border: 0 none;
}

.reset-block, .reset { @extend %reset-space; }
.reset-list { @extend %reset-list; }

/*==== Hidden Overflow ====*/
.overflow-hidden   { overflow:   hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-x-hidden { overflow-x: hidden; }

/*==== Scrollable Overflow ====*/
.overflow-auto   { overflow:   auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-x-auto { overflow-x: auto; }

/*======== Float Elements ========*/
.float-start { float: $direction-start; }
.float-end   { float: $direction-end; }
.clear-after::after,.clear-fix { @extend %clear-after,:after; }

/*==== Overlay ====*/
.overlay-dark {
    @extend %overlay;
    &::before {background-color: #000;}
}

.overlay-light {
    @extend %overlay;
    &::before {background-color: #FFF;}
}

/*==== View-Port Status ====*/
.view-status {
    visibility: hidden;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    &.view-active { visibility: visible; }
}

/*==== Sticky Elements ====*/
[data-sticky="inner"].is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

[data-sticky="absolute"].is-sticky {
    position: fixed;
    top:0;
    &.tornado-header {
        left: 0;
        right:0;
        width:100%;
    }
}

/*==== Phenix Media ====*/
.px-media {
    padding-bottom: 60%;
    position: relative;
    display: block;
    /*==== elements ====*/
    video, iframe, .media-element {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

.px-bg {
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.lazyloader {
    -o-object-fit: contain;
       object-fit: contain;
    background-size: auto 100%;
    background-color: #F1F2F3;
}

/*==== Assets ====*/
.radius-g {border-radius: 4px;}
.radius-gl {border-radius: 8px;}
.tx-icon::before {margin-#{$direction-end}: 7px;}
.flow-nowrap {flex-wrap: nowrap;}
.divider-b, .divider-y {border-bottom: 1px solid rgba(#000, 0.1);}
.divider-y, .divider-t {border-top: 1px solid rgba(#000, 0.1);}
.fluid-height {min-height: 100%;}
.no-radius {border-radius: 0;}
.alpha-05-bg {background-color: rgba(#000, 0.05);}
.alpha-10-bg {background-color: rgba(#000, 0.1);}
