
/*==== Utlites Repeaters ====*/
@import '../mixin/_utilities-repeater';

/*==== Margin All ====*/
@include UtilitiesRepeater (0, 100, 'margin' ,'margin', 'px', 5);

/*==== Margin Top ====*/
@include UtilitiesRepeater (0, 100, 'margin-top', 'margin-top', 'px', 5);

/*==== Margin Bottom ====*/
@include UtilitiesRepeater (0, 100, 'margin-bottom', 'margin-bottom', 'px', 5);

/*==== Margin Start ====*/
@include UtilitiesRepeater (0, 100, 'margin-start', 'margin-#{$direction-start}', 'px', 5);

/*==== Margin End ====*/
@include UtilitiesRepeater (0, 100, 'margin-end', 'margin-#{$direction-end}', 'px', 5);

/*==== Auto Margins ====*/
.margin-auto-x {
    margin-left: auto;
    margin-right: auto;
}

.margin-auto-y {
    margin-left: auto;
    margin-right: auto;
}

.margin-start-auto {margin-#{$direction-start}: auto;}

.margin-end-auto {margin-#{$direction-end}: auto;}
