
/*==== Tools ====*/
@import '../assets/mixin';

/*==== Margin All ====*/
@include Repeater (0, 100, 'margin' ,'margin', 'px', 5);

/*==== Margin Top ====*/
@include Repeater (0, 100, 'mt', 'margin-top', 'px', 5);

/*==== Margin Bottom ====*/
@include Repeater (0, 100, 'mb', 'margin-bottom', 'px', 5);

/*==== Margin Start ====*/
@include Repeater (0, 100, 'ms', 'margin-#{$direction-start}', 'px', 5);

/*==== Margin End ====*/
@include Repeater (0, 100, 'me', 'margin-#{$direction-end}', 'px', 5);

/*==== Auto Margins ====*/
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-left: auto;
    margin-right: auto;
}

.ms-auto {margin-#{$direction-start}: auto;}

.me-auto {margin-#{$direction-end}: auto;}
