/**======> Referance By Comment <======
 * ===> 01 - Overflow
 * ===> 02 - Float Elements
 * ===> 03 - Overlay Layer
 * ===> 04 - Position
 * ===> 05 - Directions
 * ===> 06 - zIndex
 * ===> 07 - Sticky Elements
 * ===> 08 - Phenix Media
 * ===> 09 - Aspect Ratio
 * ===> 10 - Lazy Loader
 * ===> 11 - Assets
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== Position ====*/
.position-ab  {position: absolute;}
.position-rv  {position: relative;}
.position-fx  {position: fixed;}
.position-st  {position: -webkit-sticky;position: sticky;}
/*==== Top ====*/
.position-top-0 {top: REM(0);}
.position-top-10 {top: REM(10);}
.position-top-15 {top: REM(15);}
.position-top-20 {top: REM(20);}
.position-top-25 {top: REM(25);}
.position-top-30 {top: REM(30);}
/*==== Bottom ====*/
.position-bottom-0 {bottom: REM(0);}
.position-bottom-10 {bottom: REM(10);}
.position-bottom-15 {bottom: REM(15);}
.position-bottom-20 {bottom: REM(20);}
.position-bottom-25 {bottom: REM(25);}
.position-bottom-30 {bottom: REM(30);}
/*==== Start ====*/
.position-start-0 {#{$direction-start}: REM(0);}
.position-start-10 {#{$direction-start}: REM(10);}
.position-start-15 {#{$direction-start}: REM(15);}
.position-start-20 {#{$direction-start}: REM(20);}
.position-start-25 {#{$direction-start}: REM(25);}
.position-start-30 {#{$direction-start}: REM(30);}
/*==== End ====*/
.position-end-0 {#{$direction-end}: REM(0);}
.position-end-10 {#{$direction-end}: REM(10);}
.position-end-15 {#{$direction-end}: REM(15);}
.position-end-20 {#{$direction-end}: REM(20);}
.position-end-25 {#{$direction-end}: REM(25);}
.position-end-30 {#{$direction-end}: REM(30);}
