/**======> Referance By Comment <======
 * ===> 01 - Headine Sizes
 * ===> 02 - Paragraph Sizes
 * ===> 03 - Text Utilities
 * ===> 04 - Text Alignment
 * ===> 05 - Font Weight
 * ===> 06 - Text Sizes
*/

/*==== Headine Sizes ====*/
h1,.h1 {font-size: REM(32);}
h2,.h2 {font-size: REM(28);}
h3,.h3 {font-size: REM(25);}
h4,.h4 {font-size: REM(23);}
h5,.h5 {font-size: REM(20);}
h6,.h6 {font-size: REM(17);}

/*==== Display Headlines ====*/
@include large() {
    .display-h0 {font-size: REM(50);}
    .display-h1 {font-size: REM(42);}
    .display-h2 {font-size: REM(36);}
    .display-h3 {font-size: REM(32);}
};

/*==== Text Utilities ====*/
.tx-uppercase  {text-transform: uppercase;}
.tx-underline  {text-decoration: underline;}
.tx-capitalize {text-transform: capitalize;}
.tx-line-through {text-decoration: line-through;}

/*==== Text Alignment ====*/
.tx-align-end   {text-align:end;}
.tx-align-left  {text-align: left;}
.tx-align-right {text-align: right;}
.tx-align-start {text-align: start;}
.tx-align-center  {text-align: center;}
.tx-align-justify {text-align:justify;}
.tx-nowrap {@extend %nowrap;}

/*==== Font Weight ====*/
.strong-weight {font-weight: var(--strong-weight);}
.medium-weight {font-weight: var(--medium-weight);}
.normal-weight {font-weight: var(--normal-weight);}

/*==== Line Height ====*/
.lineheight-100 {line-height: 1;}
.lineheight-120 {line-height: 1.2;}
.lineheight-130 {line-height: 1.3;}
.lineheight-150 {line-height: 1.5;}
.lineheight-160 {line-height: 1.6;}
.lineheight-170 {line-height: 1.7;}
.lineheight-180 {line-height: 1.8;}

/*==== Text Sizes ====*/
@mixin make-font-sizes($infix:'') {
    .fs#{$infix}-12 {font-size: 12px;}
    .fs#{$infix}-13 {font-size: 13px;}
    .fs#{$infix}-14 {font-size: REM(14);}
    .fs#{$infix}-15 {font-size: REM(15);}
    .fs#{$infix}-16 {font-size: REM(16);}
    .fs#{$infix}-17 {font-size: REM(17);}
    .fs#{$infix}-18 {font-size: REM(18);}
    .fs#{$infix}-19 {font-size: REM(19);}
    .fs#{$infix}-20 {font-size: REM(20);}
}

@include make-font-sizes();

@include small('down') {
    @include make-font-sizes('-sm');
};

.small-text {font-size: 0.875rem;}

.large-text {
    font-size: REM(18);
    @include xlarge() { font-size: REM(20); }
}
