/**======> Referance By Comment <======
 * ===> 01 - Typography Settings
 * ===> 02 - Headine Sizes
 * ===> 03 - Paragraph Sizes
 * ===> 04 - Text Utilities
 * ===> 05 - Text Alignment
 * ===> 06 - Default Lists
 * ===> 07 - Data Lists
 * ===> 08 - Blocks Quotes
*/

/*==== Display Headlines ====*/
@include large() {
    .display-h0 {font-size: REM(50);}
    .display-h1 {font-size: REM(42);}
    .display-h2 {font-size: REM(36);}
    .display-h3 {font-size: REM(32);}
};

/*==== Text Sizes ====*/
.large-text {
    font-size: REM(18);
    @include xlarge() { font-size: REM(20); }
}

.small-text {font-size: 0.875rem;}

/*==== Text Utilities ====*/
.tx-uppercase  {text-transform: uppercase;}
.tx-underline  {text-decoration: underline;}
.tx-capitalize {text-transform: capitalize;}
.tx-line-through {text-decoration: line-through;}

/*==== Text Alignment ====*/
.tx-align-end   {text-align:end;}
.tx-align-left  {text-align: left;}
.tx-align-right {text-align: right;}
.tx-align-start {text-align: start;}
.tx-align-center  {text-align: center;}
.tx-align-justify {text-align:justify;}
.tx-nowrap {@extend %nowrap;}

/*==== Font Weight ====*/
.strong-weight {font-weight: var(--strong-weight);}
.medium-weight {font-weight: var(--medium-weight);}
.normal-weight {font-weight: var(--normal-weight);}

/*==== Line Height ====*/
.lineheight-100 {line-height: 1;}
.lineheight-120 {line-height: 1.2;}
.lineheight-130 {line-height: 1.3;}
.lineheight-150 {line-height: 1.5;}
.lineheight-160 {line-height: 1.6;}
.lineheight-170 {line-height: 1.7;}
.lineheight-180 {line-height: 1.8;}
