/**======> Referance By Comment <======
 * ===> 01 - Buttons 
 * ===> 02 - Options
 * ===> 03 - Standard
 * ===> 04 - Button Sizes
 * ===> 05 - Circle & Outline
 * ===> 06 - Icons for Button
 * ===> 07 - Prime Colors
 * ===> 08 - Assets Colors
*/

/*==== Utlites ====*/
@import '../assets/mixin';

/*======== Buttons ========*/
.btn {
    /*==== Options ====*/
    --radius : 4px;
    --padding : #{REM(20)};
    --text-weight : var(--medium-weight);
    /*==== Size Options ====*/
    --height : #{REM(42)};
    --text-size : #{REM(15)};
    --border-size : 0;
    /*==== Colors Options ====*/
    --color : var(--dark-color);
    --background : var(--primary-offwhite);
    --border-color : transparent;

    /*==== Standard ====*/
    border : var(--border-size) solid var(--border-color);
    color  : var(--color);
    height : var(--height);
    text-align  : center;
    font-size   : var(--text-size);
    font-weight : var(--text-weight);
    line-height : var(--height);
    border-radius : var(--radius);
    background-color : var(--background);
    @extend %fast-motion;
    @extend %inline-block;
    @include padding-inline(var(--padding), 'both');
    /*==== Align inner Elements ====*/
    *, &::before, &::after {@extend %inline-block;}

    //===== Button Sizes  ====//
    &.tiny {
        --height : #{REM(30)};
        --text-size : #{REM(13)};
    }

    &.small {
        --height : #{REM(36)};
        --text-size : #{REM(14)};
    }

    &.large {
        --height : #{REM(52)};
        --text-size : #{REM(17)};
    }

    &.square {
        width: var(--height);
        @include padding-inline(0, 'both');
    }

    //===== Circle & Outline ====//
    &.circle {border-radius:50%;}

    &.outline {
        --height : calc(var(--height) - 4px);
        --border-size  : 2px;
        --border-color : rgba(0,0,0, 0.1);
        --background : transparent;
    }

    //===== Icons for Button ====//
    &.btn-icon::before {
        line-height: inherit;
        @include margin-inline(calc(var(--padding) / 2) ,'end');
    }

    &.btn-icon-end::before {
        line-height: inherit;
        float: $direction-end;
        @include margin-inline(calc(var(--padding) / 2) ,'start');
    }

    //==== Colors Maker ====//
    @mixin make-color($prefix, $hover, $text:'dark-reverse') {
        --color  : var(#{'--'+$text});
        --background : var(#{'--'+$prefix+'-color'});
        --border-color : var(#{'--'+$prefix+'-color'});
        &:hover {--background : var(#{'--'+$prefix+'-'+$hover});}
    }

    //==== Prime Colors ====//
    &.primary { @include make-color('primary','hover','primary-reverse'); }
    &.secondary { @include make-color('secondary','hover','secondary-reverse'); }

    //==== Assets Colors ====//
    &.info { @include make-color('info','color'); }
    &.gray { @include make-color('gray','color'); }
    &.dark { @include make-color('dark','color'); }
    &.success { @include make-color('success','color'); }
    &.danger { @include make-color('danger','color'); }
    &.warning { @include make-color('warning','color'); }
    &.disabled, &[disabled], &:disabled { @include make-color('disable',''); }

    /*==== White Button ====*/
    &.light {
        --color : var(--dark-color);
        --background   : white;
        --border-color : white;
    }
}
