/*======== Lightbox Component ========*/
#lightbox-modal .modal-content {
    @extend %flexbox;
    @extend .align-center-z;
    width:auto;
    max-width: 90%;
    background-color: transparent;
    //====> Slider <====//
    .item {
        background-repeat: no-repeat;
        background-position: center;
        img {
            max-height: calc(100vh - 30px);
            display: block;
            margin: auto;
        }
    }
    //====> Arrows Controls <====//
    .tns-controls button {opacity: 1;}
}
