/**======> Referance By Comment <======
 * ===> 01 - Default Modals
 * ===> 02 - Default Modals : Base
 * ===> 03 - Default Modals : Activate
 * ===> 04 - Default Modals : Overlay
 * ===> 05 - Default Modals : Content Box
 * ===> 06 - Call to Action Theme
 * ===> 07 - Call to Action : CTA Content
 * ===> 07 - Call to Action : Colors Style
*/

/*===== Default Modals =====*/
.px-modal {
    //==== Standard ===//
    top: 0;
    width:100vw;
    height:100vh;
    position: fixed;
	#{$direction-start}: 0;
	z-index: var(--modal-index);
	@extend %flexbox;
    @extend .align-center-y;
    @extend .align-center-x;
    /*==== Effect ====*/
    @extend %fast-motion;
	visibility: hidden;
    opacity:0;
    //===== Activate ===//
    &.active{
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
    }
    //=== Overlay ===//
    .modal-overlay{
        width: 100%;
        height: 100%;
        top: 0;
        #{$direction-start}: 0;
        position:absolute;
        background: rgba(#000, .75);
        z-index: -1;
    }
    //=== Content Box ===//
    .modal-content{
        width: 90%;
        position: relative;
        z-index: var(--header-index);
        border-radius:5px;
        .close-modal{cursor:pointer;}
        //=== Head ===//
        .modal-head{
            padding:0.75rem 1.25rem;
            border-bottom:var(--component-border);
            font-weight:var(--medium-weight);
            font-size:1rem;
            .close-modal{
                padding: 0;
                float:$direction-end;
                font-size:14px;
                line-height: 1.74rem;
                height: 1.25rem;
                border:0 none;
                color:var(--gray-color);
                background: transparent;
                text-align: center;
                width:1.25rem;
            }
        }
        //=== Body ===//
        .modal-body{
            padding:1.25rem;
            overflow:auto;
            max-height:calc(100vh - 11.875rem);
        }
        //=== Footer ===//
        .modal-footer{
            @extend %flexbox;
            @extend .align-between ;
            padding:0.625rem 1.25rem;
            border-top:var(--component-border);
            .btn{margin: 0;}
        }
        /*====  ====*/
        .scroll-fix {
            max-height: 95vh;
            overflow-y: auto;
        }
    }
}

/*======== Call to Action Theme ========*/
.cta-modal .modal-content {
    padding:1.875rem;
    text-align: center;

    /*==== Close Button ====*/
    .close-modal:not(.btn) {
        position: absolute;
        top:15px;
        #{$direction-end}:15px;
        font-size:14px;
        line-height: 1.875rem;
        height: 1.875rem;
        color:var(--danger-color);
        text-align: center;
        width:1.875rem;
    }

    /*==== Content ====*/
    .large-icon{
        display: inline-block;
        font-size:4.375rem;
        margin-bottom: 0.625rem;
        line-height: 1;
    }

    h3 {
        font-size:1.375rem;
        margin-bottom: 5px;
        color:var(--component-color);
    }

    .rating-control {
        margin-bottom: 0.625rem;
        .rate-icon {font-size:1.8rem;vertical-align: middle;}
        .text {font-size:1.25rem;vertical-align: middle;}
    }

    .social-btns {
        margin-bottom: 5px;
        .btn{margin: 5px}
    }

    /*==== Action Footer ====*/
    .modal-footer{
        border:0 none;
        padding:0;
    }
}

/*==== Modals Assets ====*/
.px-modal {
    /*==== Close ====*/
    .close-modal {
        position: absolute;
        top: -4px;
        #{$direction-end}: -4px;
        font-size: 14px;
        &.outline {
            background-color: inherit;
            color: var(--danger-color);
        }
    }
}

/*======== Lightbox Mode ========*/
#lightbox-modal .modal-content {
    @extend %flexbox;
    @extend .align-center;
    width:auto;
    max-width: 90%;
    background-color: transparent;
    //====> Slider <====//
    .item {
        background-repeat: no-repeat;
        background-position: center;
        img {
            max-height: calc(100vh - 30px);
            display: block;
            margin: auto;
        }
    }
    //====> Arrows Controls <====//
    .tns-controls button {opacity: 1;}
}
