/**======> Referance By Comment <======
 * ===> 01 - Tables CSS
 * ===> 02 - Table Columns
 * ===> 03 - Table Head
 * ===> 04 - Striped and Bordered
 * ===> 05 - Striped BG
 * ===> 06 - Table Responsive
 * ===> 07 - Data Tables Navigation
 * ===> 08 - Data Table Pagination
*/

/*==== Tables Options ====*/
:root {
    --table-background : #FFFFFF;
    --table-head-bg    : #f4f4f4;
    --table-striped    : #f4f4f4;
    --table-border     : 1px solid rgba(0,0,0, 0.1);
    --table-padding    : 15px;
    --table-radius     : 5px;
}

/*==== Tables CSS ====*/
.table {
    /*==== Setup ====*/
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    /*==== Table Columns ====*/
    td, th{border-bottom: var(--table-border);}
    th {@include padding-block(calc( var(--table-padding) / 1.5 ));}
    td {@include padding-block(calc( var(--table-padding) / 2 ));}

    /*==== Striped and Bordered ====*/
    &.bordered, &.striped {
        background-color: var(--table-background);
        td, th {
            border-bottom: 0 none;
            @include padding-inline(var(--table-padding));
        }
    }

    /*==== Striped BG ====*/
    &.striped tbody tr:not([class*="-bg"]):nth-child(even) {background:var(--table-striped);}

    /*==== Bordered Table ====*/
    &.bordered {
        border: var(--table-border);
        /*==== Columns ====*/
        td, th {border: var(--table-border);}
        /*==== Head ====*/
        thead tr:not([class*="-bg"]) {background:var(--table-head-bg);}
    }
}

/*==== Table Responsive ====*/
.responsive-table, .responsive-sm-table{
    overflow: auto;
    // border-radius: 8px 8px 0 0;
}

@include medium('down') { 
    .responsive-table .table {width:970px;}
}

@include small('down') { 
    .responsive-sm-table .table {width:768px;}
}

/*==== Data Table ====*/
.px-sortable {
    cursor: pointer;
    
    &:not(.hide-sorting) .sort-icon {
        color:inherit;
        opacity: 0.5;
        &::before{top:0;}
    }

    &.active .sort-icon{opacity: 1;}
}

/*==== Data Table Pagination ====*/
.px-datatable-pagi {
    margin-top: -REM(30)/1.5;
    margin-bottom: REM(30);
    border-radius: 0 0 8px 8px;
    /*==== info ====*/
    p {
        margin: 0;
        font-size: 13px;
        line-height: 24px;
        height: 28px;
        color: var(--gray-color);
    }
    /*==== Pagination ====*/
    .pagination.small li {
        cursor: pointer;
        margin-bottom: 0;
        width: auto;
        padding: 0 5px;
        height: 28px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        border: 0 none;
        font-size: 13px;
        font-weight: var(--medium-weight);
        &.active, &:hover {
            background-color: transparent;
            color: var(--primary-hover);
        }
    }
}
