/**======> Referance By Comment <======
 * ===> 01 - Splide CSS
*/

/*==== Loading Animation ====*/
@-webkit-keyframes splide-loading {
    0% {transform: rotate(0)}
    to {transform: rotate(1turn)}
}
@keyframes splide-loading {
    0% {transform: rotate(0)}
    to {transform: rotate(1turn)}
}

/*==== Drag Support ====*/
.splide--draggable>.splide__slider > .splide__track,
.splide--draggable>.splide__track {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
         user-select: none
}

/*==== Fading Effect ====*/
.splide--fade > .splide__slider > .splide__track > .splide__list,
.splide--fade > .splide__track > .splide__list,
.splide--ttb.is-active > .splide__slider > .splide__track > .splide__list,
.splide--ttb.is-active>.splide__track>.splide__list {display: block}

/*==== Sliding Effect ====*/
.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide,
.splide--fade > .splide__track > .splide__list > .splide__slide {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0
}

.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active,
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
    opacity: 1;
    position: relative;
    z-index: 1
}

.splide--rtl {direction: rtl}

.splide__container {
    box-sizing: border-box;
    position: relative
}

.splide__list {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    transform-style: preserve-3d;
    &.row {flex-wrap: nowrap;}
}

.splide.is-initialized:not(.is-active) .splide__list {display: block}

.splide__pagination {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    pointer-events: none
}

.splide__pagination li {
    display: inline-block;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    pointer-events: auto
}

.splide__progress__bar {
    width: 0
}

.splide {
    outline: none;
    position: relative;
    visibility: hidden
}

.splide.is-initialized,
.splide.is-rendered {
    visibility: visible
}

.splide__slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;
    outline: none;
    position: relative
}

.splide__slider {
    position: relative
}

.splide__spinner {
    -webkit-animation: splide-loading 1s linear infinite;
            animation: splide-loading 1s linear infinite;
    border: 2px solid #999;
    border-left-color: transparent;
    border-radius: 50%;
    bottom: 0;
    contain: strict;
    display: inline-block;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px
}

.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0
}

.splide .splide__arrows {position: absolute;}

/*==== Phenix Slider ====*/
.px-slider {
    /*==== Controls ====*/
    .splide__arrows, .splide__pagination {z-index: 3;}
    /*==== Arrows ====*/
    .splide__arrows {
        @extend %flexbox;
        @extend .align-between;
        @extend .align-center-y;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10px;
        @include small('down') {visibility: hidden;}
        /*==== Directions Fix ====*/
        @if ($direction == 'rtl') {
            .splide__arrow--next svg {transform: rotate(180deg);}
        } @else {
            .splide__arrow--prev svg {transform: rotate(180deg);}
        }
        //====> Arrow Icons <====//
        svg {
            max-width: 1em;
            max-height: 1em;
            @extend %inline-block;
        }
        /*==== Buttons ====*/
        button {
            width: REM(36);
            height: REM(36);
            border: 0 none;
            padding: 0;
            font-size: 14px;
            background-color: #FFF;
            border: 1px solid rgba(#000, 0.1);
            svg {fill: var(--gray-color);}
        }
    }
}
