/*==== Fix View-Port Animation ====*/
.wp-admin .view-status {visibility: visible;}

/*==== Fix Plugins ====*/
[name="newsletter[]"] {display:none!important;}

[name*="honeypot"] {
	left: 100%;
	visibility:hidden;
	position: absolute;
}

/*===== REQUIRED CSS =====*/
.wp-caption,.gallery-caption {
    color:var(--gray-color);
    font-size:14px;
    margin-bottom: 15px;
}

.wp-caption-text {
    max-width:100%;
    @extend %nowrap;
    padding: 5px;
    background:var(--dark-light);
    color:var(--dark-reverse);
}

.sticky {position: relative;}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.bypostauthor {@extend %reset-space;}

.alignleft {
	float: $direction;
	margin-#{$direction-end}: 1.5em;
}

.alignright {
	float: $direction-end;
	margin-#{$direction-start}: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

