/**======> Referance <======
 * ===> 01 - Utlites Repeaters
 * ===> 02 - Margin Block
 * ===> 03 - Margin Inline
 * ===> 03 - 
 * ===> 04 - 
*/

//==== Utlites Repeaters ====//
@mixin UtilitiesRepeater ($index, $cond, $name ,$prop, $unite, $increase) {
    /*==== Padding All ====*/
    @while $index <= $cond {
        .#{$name}-#{$index} {
            #{$prop} : #{$index+$unite};
        }
        /*==== Increase ====*/
        $index : ($index + $increase);
    }
}

//====> Margin Block <====//
@mixin margin_block($size, $position) {
    //====> Both <====//
    @if ($position == 'both') { margin-block: $size; }

    //====> Start <====//
    @else if ($position == 'start') {
        -webkit-margin-before: $size;
             margin-block-start: $size;
    }

    //====> End <====//
    @else if ($position == 'end') {
        -webkit-margin-after: $size;
            margin-block-end: $size;
    }

    //====> Margin ALL <====//
    @supports not (margin-block: auto) {
        //====> Both <====//
        @if ($position == 'both') {
            margin-top: $size;
            margin-bottom: $size;
        }

        //====> Start <====//
        @else if ($position == 'start') {margin-top: $size;}

        //====> End <====//
        @else if ($position == 'end') {margin-bottom: $size;}
    }
}

//====> Margin Inline <====//
@mixin margin_inline($size, $position) {
    //====> Both <====//
    @if ($position == 'both') { margin-inline: $size; }

    //====> Start <====//
    @else if ($position == 'start') {
        -webkit-margin-start: $size;
            margin-inline-start: $size;
    }

    //====> End <====//
    @else if ($position == 'end') {
        -webkit-margin-end: $size;
                margin-inline-end: $size;
    }

    //====> Logical Properties Polyfill <====//
    @supports not (margin-block: auto) {
        //====> Both <====//
        @if ($position == 'both') {
            margin-#{$direction_start}: $size;
            margin-#{$direction_end}: $size;
        }

        //====> Start <====//
        @else if ($position == 'start') {margin-#{$direction_start}: $size;}

        //====> End <====//
        @else if ($position == 'end') {margin-#{$direction_end}: $size;}
    }
}
