/*===================================
=                                   =
=  - !Hello There                   =
=  - this is Your working space     =
=  - here you can customize phenix  =
=  - to your app ui design needs    =
=  - Good Luck :)                   =
=                                   =
===================================*/

/*======== Design Options ========*/
:root {
    /*==== Body Background ====*/
    --body-bg : #fcfcfc;

    /*==== Primary Color ====*/
    --primary-color   : #4166d6;
    --primary-hover   : #2e4dc9;
    --primary-reverse : #FFF;

    /*==== Secondary Color ====*/
    --secondary-color   : #dd9a35;
    --secondary-hover   : #e99415;
    --secondary-reverse : #1c1c1c;

    //=== Assets text colors ====//
    --info-color    :#17c0db;
    --gray-color    :#868e96;
    --dark-color    :#343a40;
    --success-color :#22b544;
    --danger-color  :#de3131;
    --warning-color :#f4bb0e;
    --disable-color :#ebebeb;

    //=== Assets backgrounds ====//
    --info-light    :#a6eaf5;
    --gray-light    :#d9dde1;
    --dark-light    :#343a40;
    --success-light :#c1eecc;
    --danger-light  :#fbbbbb;
    --warning-light :#ffdd75;

    /*==== Typography Colors ====*/
    --headlines-color  : #1c1c1c;
    --typography-color : #555;
    --light-reverse    : #000;
    --dark-reverse     : #FFF;

    //==== Brands Colors ====//
    --facebook-color  :#505cd6;
    --twitter-color   :#1da1f2;
    --youtube-color   :#e43e3c;
    --tumblr-color    :#35465c;
    --instagram-color :#d43f8d;
    --android-color   :#a4c639;
    --snapchat-color  :#e2e62c;
    --whatsapp-color  :#10d058;
    --pinterest-color :#bd081c;
    --linkedin-color  :#0077b5;
    --behance-color   :#1769ff;
    --apple-color     :#dbebfa;
    --dribbble-color  :#ea4c89;
    --flicker-color   :#0063dc;
    --github-color    :#f5f5f5;
    --google-red      :#ea4335;

    //==== Layout Option ====//
    --gutter-size  : 30px; // the Space Between Columns
    --gutter-math  : 15px; // the Space Between Columns Divided
    --grid-columns : 12;

    //==== Responsive [Small] Screens ====//
    --small-screen-end   : 640px;
    --small-screen-start : 576px;
    --xsmall-screen-end  : 480px;

    //==== Responsive [Medium] Screens ====//
    --medium-screen-start : 768px;
    --medium-screen-end : 1100px;

    //==== Responsive [Large] Screens ====//
    --large-screen-start  : 1200px;
    --large-screen-end  : 1600px;

    //==== Responsive [xLarge] Screens ====//
    --xlarge-screen-start : 1366px;
    --xlarge-screen-end : 2500px;
}
