/**======> Referance By Comment <======
 * ===> 01 - Breadcrumb Theme
 * ===> 02 - Breadcrumb Elements
 * ===> 03 - Elements Icon
 * ===> 04 - Pointing Theme
 * ===> 05 - Curving Theme
 * ===> 06 - Skewed Theme
 * ===> 07 - Dotted Theme
 * ===> 08 - Breadcrumb Colors
*/

/*====== Breadcrumb =======*/
.breadcrumb {
    //==== Breadcrumb Elements ====//
    > a, > span {
        color:inherit;
        @extend %inline-block;
        &:not(:last-child)::after {
            padding:0 5px;
            font-family: var(--icons-font);
            @if $direction == 'rtl' { content:'\f100'; } @else { content:'\f101'; }
        }

        //====> Elements Icon <===//
        &[class*="fa-"]::before {
            margin-#{$direction-end}: 5px;
            position: relative;
        }
    }
}
